*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.4;
}

.container{
    display: flex;
}

.left{
    background-image: url(resources/neom-xhMz5xIbhRg-unsplash.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff; 
    height: 100vh;
    width: 40vw;
}

.credits a{
    color: #fff;
}

.credits{
    font-size: 16px;
}

.image-container{
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.image-container > p{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image-container > img{
    width: 80px;
}

.right{
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.intro, .footer{
    background-color: #ddd;
}

.intro{
    padding-left: 40px;
    font-weight: 800;
    padding-top: 80px;
    padding-bottom: 20px;
}

.intro p{
    width: 70%;
    font-size: 18px;
}

.intro p:first-child{
    padding-bottom: 20px;
}

.form{
    background-color: #fff;
    z-index: 999;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form h2{
    padding-bottom: 20px;
}

.names, .contact, .password{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 80px;
}

input{
    border: 2px #E5E7EB solid;
    padding: 2px 4px;
}